<div class="container">
    <mat-card class="custom-card">
        <mat-card-title class="custom-title">
            <h6>AP - Ivan!ra</h6>
            <h6><strong>Enter your personal details</strong></h6>
            <p>Don't have account? <a class="link-info" (click)="signupForm()">Sign up here</a></p>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                <mat-form-field appearance="outline">
                  <mat-label>Email address</mat-label>
                  <input matInput placeholder="Enter your email address. e.g: renatomuiambo24@gmail.com" formControlName="email">
                  <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                    The email address is mandatory.
                  </mat-error>
                  <mat-error *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched">
                    Please enter a valid email address.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                    The password is mandatory.
                  </mat-error>
                  <mat-error *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched">
                    Please enter a valid password. The password must contain at least 6 characters.
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" [disabled]="loginForm.invalid" type="submit">
                  Sign In
                </button>
              </form>
        </mat-card-content>
    </mat-card>
</div>


