*{
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
}

.custom-card {
    width: 49%;
}

.custom-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
h6 {
    font-size: 20px;
}
a {
    cursor: pointer;

}

a:hover{
    cursor: pointer;
    text-decoration: wavy;

}
